#heroCart{
    background-image: url("../resources/products/cart.jpg");
    background-position: center;
    background-attachment: fixed;
    height:56vh;
    width:100%;
    background-position: top 2% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
    height: 70px;
}

art table td:nth-child(1){
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(2){
    width: 250px;
    text-align: center;

}

#cart table td:nth-child(3),
#cart table td:nth-child(4),
#cart table td:nth-child(5)
{
    width: 150px;
    text-align: center;

}

#cart table td:nth-child(6){
    width: 100px;
    text-align: center;

}

#cart table td:nth-child(4) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left:none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size:13px;
}

#cart table tbody tr td .btn-close {

    text-decoration: none;
    color: black;
    background: rgb(230, 242, 243);
    padding: 8px 8px;
    border-radius: 30px;
    border-color: grey;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

    
    
#cart table tbody tr td  .btn-close:hover {
      background-color:rgb(220, 169, 169);
      color: white;
      transition: 0.3s;
    }

#cart-add{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#return{
    width: 50%;
    margin-bottom: 30px;
}

#return button{
    background-color: #088178;
    color:#fff;
    padding: 30px 30px;
}

#return button:hover{
    background-color: rgb(64, 73, 210);

}

#return h3{
    padding-bottom: 15px;
}

#sub-total{
    width: 50%;
    margin-bottom:30px;
    border: 1px solid #e3e9e1;
    padding: 30px;
}

#sub-total table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}

#sub-total table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}

  