#heroCart{
    background-image: url("../resources/products/cart.jpg");
    background-position: center;
    background-attachment: fixed;
    height:56vh;
    width:100%;
    background-position: top 2% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
    height: 70px;
}

art table td:nth-child(1){
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(2){
    width: 250px;
    text-align: center;

}

#cart table td:nth-child(3),
#cart table td:nth-child(4),
#cart table td:nth-child(5)
{
    width: 150px;
    text-align: center;

}

#cart table td:nth-child(6){
    width: 100px;
    text-align: center;

}

#cart table td:nth-child(4) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left:none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size:13px;
}

#cart table tbody tr td .btn-close {
    margin: 0;
    border: 0;
    padding: 0;
    background: hsl(216, 100, 50);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
}
    
    
    .btn-close:hover,
    .btn-close:focus {
      transform: rotateZ(90deg);
      background: hsl(216, 100, 40);
    }
  